# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [35]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
#from api_keys import g_key
g_key = "AIzaSyBWzJ5f_HxCh6wrnrEpVaEDU9GPb1GMtjs"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [36]:
data ="city_dataframe.csv"
city_df=pd.read_csv(data)
c

         lat      long  max_temp  humidity  clouds  wind country        date
0   -33.5906   26.8910    29.034        82      78  5.23      ZA  1620448139
1   -54.8000  -68.3000    28.015        81      75  1.19      AR  1620448055
2   -22.8167   47.8333    29.242        83      35  2.99      MG  1620448139
3   -38.0023  -57.5575    28.426       100       1  3.66      AR  1620448078
4    19.7297 -155.0900    29.815        69      90  4.15      US  1620448104
..       ...       ...       ...       ...     ...   ...     ...         ...
570  44.4167    1.3333    28.593       100      40  2.57      FR  1620448311
571  14.8000   74.1333    30.503        61      27  2.21      IN  1620448311
572  35.1478 -114.5683    30.515         8       1  6.69      US  1620448312
573 -30.6497   24.0123    28.204        86       0  3.06      ZA  1620448312
574   3.4568    8.5547    29.815        94      40  1.54      GQ  1620448312

[575 rows x 8 columns]

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [37]:
gmaps.configure(g_key)

In [38]:
weight_hum=city_df["humidity"]
maxhumidity = weight_hum.max()
locations= city_df[["lat","long"]]

In [39]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight_hum,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [64]:

perf_weather = city_df.loc[(city_df["max_temp"] >=21.0) | (city_df["max_temp"] <=26.0) | (city_df["clouds"] == 0) | (city_df['wind']<10)].dropna()
perf_weather

         lat      long  max_temp  humidity  clouds  wind country        date
0   -33.5906   26.8910    29.034        82      78  5.23      ZA  1620448139
1   -54.8000  -68.3000    28.015        81      75  1.19      AR  1620448055
2   -22.8167   47.8333    29.242        83      35  2.99      MG  1620448139
3   -38.0023  -57.5575    28.426       100       1  3.66      AR  1620448078
4    19.7297 -155.0900    29.815        69      90  4.15      US  1620448104
..       ...       ...       ...       ...     ...   ...     ...         ...
570  44.4167    1.3333    28.593       100      40  2.57      FR  1620448311
571  14.8000   74.1333    30.503        61      27  2.21      IN  1620448311
572  35.1478 -114.5683    30.515         8       1  6.69      US  1620448312
573 -30.6497   24.0123    28.204        86       0  3.06      ZA  1620448312
574   3.4568    8.5547    29.815        94      40  1.54      GQ  1620448312

[571 rows x 8 columns]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [88]:
hotel_df = perf_weather.loc[:,["lat","long","max_temp","humidity","clouds","wind","country"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

         lat      long  max_temp  humidity  clouds  wind country Hotel Name
0   -33.5906   26.8910    29.034        82      78  5.23      ZA
1   -54.8000  -68.3000    28.015        81      75  1.19      AR
2   -22.8167   47.8333    29.242        83      35  2.99      MG
3   -38.0023  -57.5575    28.426       100       1  3.66      AR
4    19.7297 -155.0900    29.815        69      90  4.15      US
..       ...       ...       ...       ...     ...   ...     ...        ...
570  44.4167    1.3333    28.593       100      40  2.57      FR
571  14.8000   74.1333    30.503        61      27  2.21      IN
572  35.1478 -114.5683    30.515         8       1  6.69      US
573 -30.6497   24.0123    28.204        86       0  3.06      ZA
574   3.4568    8.5547    29.815        94      40  1.54      GQ

[571 rows x 8 columns]

In [89]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [ ]:
for index, row in hotel_df.iterrows():
    lat = row["lat"]
    long = row["long"]
   
    params = {"type" : "hotel",
              "keyword" : "hotel",
              "radius" : 5000,
              "key" : g_key}
    
    response = requests.get(base_url, params=params).json()

    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure